/**
Poor	157	157	157	0.62	0.62	0.62	#9d9d9d	Gray
Common	255	255	255	1.00	1.00	1.00	#ffffff	White
Uncommon	30	255	0	0.12	1.00	0.00	#1eff00	Green
Rare	0	112	221	0.00	0.44	0.87	#0070dd	Blue
Epic	163	53	238	0.64	0.21	0.93	#a335ee	Purple
Legendary	255	128	0	1.00	0.50	0.00	#ff8000	Orange
Artifact	230	204	128	0.90	0.80	0.50	#e6cc80	Light Gold
Heirloom	0	204	255	0.00	0.8	1.0	#00ccff	Blizzard Blue
WoW Token	0	204	255	0.00	0.8	1.0	#00ccff	Blizzard Blue
*/
.title, .news-container, .invasion-container, #cetusdaynight, #cetusdaynight-timeleft {
    text-align: center;
}

#cetusdaynight {
	font-weight:bold;
}

body {
	overflow-x : hidden;
	background-color: #242424;
	color :#ffffff;
}

.invasion-container,.alerts-container,.news-container {
	margin: 0 auto;
}
.invasion-entry, .nodes-header {
	cursor:pointer;
}
.invasion-table {
	width: 100%;
}
.alerts-container,.sale-container,.deal-container,.toggler-vt,.sorties-container,.persistentenemies-container,.fissures-container {
	text-align:left;
	
}
.list-group-item{
	background-color:#202020 !important;
	color:#e0e0e0 !important;
}
.small-footer {
	font-size: small;
}
.tiny-text {
	font-size: xx-small;
}
.invasion-seperator {
	margin: 0 auto;
	display: none;
}
.alert-badge {
	float: right;
	text-align: right;
}
.badge.alert2 {
	float: right;
	margin-left: 5px;
	background-color: #909090;
}
img {
	max-height:100%;
	z-index:10;
	position:relative;
	opacity:0.9;
	filter:alpha(opacity=90);
}
.defending-cell, .invading-cell {
	width: 15%;
}

.acolytes, .acolytes-node, .invasion-node,.alert-node,.invasion-percent,.defending-fc,.invading-fc,.invasion-region,#daynight,.sale-name,.sale-amount,.bold {
	font-weight:bold;
}

.alert-text {
	float: left;
}

.expandedtitle {
	font-weight:normal;
}

.progress-bar.Infestation{
	background-color: #5cb85c !important;
}

.progress-bar.Grineer{
	background-color:#d9534f  !important;
}

.progress-bar.Corpus{
	background-color: #428bca  !important;
}


.Grineer.arrow-right:after {
	border-left-color: #d9534f;
}

.Grineer.arrow-left:after {
	border-right-color: #d9534f;
}

.Corpus.arrow-right:after {
	border-left-color: #428bca;
}

.Corpus.arrow-left:after {
	border-right-color: #428bca;
}

.Infestation.arrow-right:after {
	border-left-color: #5cb85c;
}

.Infestation.arrow-left:after {
	border-right-color: #5cb85c;
}

.arrow-right, .arrow-left {
	position: relative;
}

.arrow-left:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-width: 10px;
	margin-top: -10px;
}

.arrow-right:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-width: 10px;
	margin-top: -10px;
}


.nobullets {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

h5 {
	font-weight: bold;
	text-decoration: underline;
}

.caret.caret-reversed {
	border-top-width: 0;
	border-bottom: 4px solid;
}

.well hr {
	border-top: 1px solid #aaa;
}


.progress {
	background-color: #ddd;
}

.down {
	color: red;
	font-weight: bold;
}

.up {
	color: green;
	font-weight: bold;
}

.nomargin {
	margin-bottom: auto !important;
}

.blpanel {
	margin-bottom: 0px !important;
}

.nodeleft {
	float: left;
	text-align: left;
}

.noderight {
	float: right;
	text-align: right;
}

.nodemiddle {
	float: none;
	text-align: middle;
}

.badge {
    /*display: inline-block;*/
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
	border-radius: 10px;
	float: right;
}

